<h1>Sign In</h1>

<% if flash[:alert] %>
  <div style="color: red; background-color: #f8d7da;">
    <ul>
      <li><%= flash[:alert] %></li>
    </ul>
  </div>
<% end %>

<%= form_with url: signin_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :user_name, "Enter User Name" %><br>
    <%= f.text_field :user_name %>
  </div>

  <div>
    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "Sign In" %>
  </div>
<% end %>

<%= link_to "Don't Have an Account?", new_user_path %>
