<h1>Register</h1>

<%= render 'layouts/form_errors', form_error_object: @user %>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %><br>
  </div>

   <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %><br>
  </div>

   <div>
    <%= form.label :age %>
    <%= form.number_field :age %><br>
  </div>

   <div>
    <%= form.label :favorite_genre, "Favorite Movie Genre" %>
    <%= form.select :favorite_genre, options_for_select(@genres, selected: @user.favorite_genre), { prompt: "Select your favorite genre" } %><br>
  </div>

   <div>
    <%= form.label :user_name %>
    <%= form.text_field :user_name %><br>
  </div>

   <div>
    <%= form.label :password %>
    <%= form.password_field :password %><br>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %><br>
  </div>

  <div>
    <%= form.submit "Sign Up" %>
  </div>
<% end %>

<%= link_to "Already Have An Account", signin_path %>
