  <%= link_to 'Sign Out', signout_path, class: 'button-link', data: { turbo_method: :delete } %>

<h1>Welcome <%= @user.user_name %></h1>

<div>
  <h2><strong><%= @user.full_name %></strong></h2>
  <h3>Favorite Movie Genre: <%= @user.favorite_genre %></h3>
  <p><%= @user.age %> years old</p>
</div><br>

<div>
  <h3><%= link_to "Movies", movies_path %></h3>
  <h3>Current Recommendations</h3>
  <!-- Add recommendations content here -->
</div><br>

<div>
  <h3>Reviewed Movies:</h3>
  <% if @user.reviews.any? %>
    <ul>
      <% @user.reviews.each do |review| %>
        <li>
          <%= link_to review.movie.title, movie_path(review.movie) %> - <em><%= review.score %> stars</em>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Waiting for your first review.</p>
  <% end %>
</div>
